<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentify</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="form-container">
        <h2>Login with your account.</h2>

        <% if (message) { %>
            <p><%= message %></p>
        <% } %>

        <form action="/user/login" method="post">
            <div class="form-group">
                <label for="email">Enter your Email address:</label>
                <input type="email" id="username" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have an account? <a href="signup" >Register with us.</a></p>
    </div>
    
</body>
</html>